<form id="fromAuditDetail">
    <div class="card">
        <div class="header">
            <h1>
                <span data-tran=""> </span>
            </h1>
            <ul class="header-dropdown m-r--5"></ul>
        </div>
        <div class="body">
            <div class="demo-masked-input">
                <div class="row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="border-left :1px solid #dcdcdc;">


                        <div class="col-md-4">
                            <b><span>EstablishmentTypeID</span></b>
                            <div class="input-group">
                                <div class="form-line">
                                    <input id="EstablishmentTypeID" name="EstablishmentTypeID" class="form-control" style="width: 100%" required
                                           placeholder="EstablishmentTypeID" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <b><span>ParentEvaluation</span></b>
                            <div class="input-group">
                                <div class="form-line">
                                    <input id="ParentEvaluation" name="ParentEvaluation" class="form-control" style="width: 100%" required
                                           placeholder="ParentEvaluation" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <b><span>LegislationNo</span></b>
                            <div class="input-group">
                                <div class="form-line">
                                    <input id="LegislationNo" name="LegislationNo" class="form-control" style="width: 100%" required
                                           placeholder="LegislationNo" />
                                </div>
                            </div>
                        </div>


                        <div class="col-md-4">
                            <b><span>ActionTaken</span></b>
                            <div class="input-group">
                                <div class="form-line">
                                    <input id="ActionTaken" name="ActionTaken" class="form-control" style="width: 100%" required
                                           placeholder="ActionTaken" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <button class="btn bg-green waves-effect" type="button" onclick="return AddNewAuditDetail()"><span data-tran="_send"></span></button>
                       <br />
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</form>