<form id="fromCreateAudit">
    <div class="card">
        <div class="header">
          
        </div>
        <div class="body">
                        
            <div class="demo-masked-input">
                <div class="row clearfix">

                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12  ">
                        <b><span data-tran="_refNo"></span></b>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">title</i><span class="pl-red"> *</span>
                            </span>
                            <div class="form-line">
                                <input type="text" class="form-control" name="Ref_No" id="Ref_No" placeholder="">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12  ">
                        <b><span data-tran="_Name"></span></b>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">title</i><span class="pl-red"> *</span>
                            </span>
                            <div class="form-line">
                                <input type="text" class="form-control" name="EstablishmentTypeID" id="EstablishmentTypeID" placeholder="">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12  ">                        
                        <div class="input-group">
                            <button class="btn bg-green waves-effect" type="button" onclick="return UpdateAudit()">
                                <span data-tran="_update"></span>
                            </button>
                          
                        </div>
                    </div>
                    <div class="col-md-12 m-b-10">

                        <button class="btn bg-green waves-effect" type="button" onclick="return SearchAudit()">
                            <span data-tran="_search"></span>
                        </button>
                    </div>

                </div>
            </div>


        </div>
    </div>
</form>