<form id="fromCreateAudit">
    <div class="card">
        <div class="header">
            <h1>
                <span id="TopicAudit"> </span>
            </h1>
            <ul class="header-dropdown m-r--5">
                <div>
                    <span data-tran="_totalBlackPoints"></span>: <b id="BlackPoints_ID">0</b>
                </div>
                <div><span data-tran="_totalWeight"></span>: <b id="TotalWeight_ID">0</b>%</div>
            </ul>
        </div>
        <div class="body">

            <div id="setTemplate"></div>
            <div id="ImageControl"></div>
            <div class="">
                <b><span data-tran="_comment"></span></b>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">text_format</i>
                    </span>
                    <div class="form-line">
                        <textarea type="text" class="form-control" name="comments_ID" id="comments_ID" rows="4" cols="100" required></textarea>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <button id="btnSubmitInspection" type="button" onclick="SubmitInpsection(this)"
                        class="btn bg-green btn-block btn-lg waves-effect">
                    <span data-tran="_submitInspection"></span>
                </button>
            </div>
        </div>
    </div>
</form>