<div class="card">
    <!--<div class="header">
        <h2>
            <span data-tran="_welcome_to"></span> <span data-tran="_projectName"></span>
        </h2>
        <ul class="header-dropdown m-r--5">
        </ul>
    </div>-->
    <div class="body"> 
        <hr /> 

        <div class="row clearfix">
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 animated flipInX clearls mailbox">
                <a href="#views/mailbox">
                    <div class="info-box-3  hover-expand-effect  ">
                        <div class="icon">
                            <i class="material-icons">inbox</i>
                        </div>
                        <div class="content">
                            <div class="text"><span data-tran="_inboxText"></span></div>
                            <div id="" class="mailboxNumberClass number  badge  "> </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 animated flipInX clearls createAudit">
                <a href="#views/createAudit">
                    <div class="info-box-3  hover-expand-effect  ">
                        <div class="icon">
                            <i class="material-icons">add_to_photos</i>
                        </div>
                        <div class="content">
                            <div class="text"><span data-tran="_createNewAudit"></span></div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 animated flipInX clearls dashboard">
                <a href="#views/dashboard">
                    <div class="info-box-3   hover-expand-effect  ">
                        <div class="icon">
                            <i class="material-icons">insert_chart</i>
                        </div>
                        <div class="content">
                            <div class="text"><span data-tran="_dashboard"></span></div>
                            <div id="" class="badge bg-light-green new-item  blinking"> <span data-tran="_new"></span></div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 animated flipInX clearls report">
                <a href="#views/report">
                    <div class="info-box-3  hover-expand-effect  ">
                        <div class="icon">
                            <i class="material-icons">chrome_reader_mode</i>
                        </div>
                        <div class="content">
                            <div class="text"><span data-tran="_reports"></span></div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 animated flipInX clearls notification">
                <a href="#views/notification">
                    <div class="info-box-3  hover-expand-effect ">
                        <div class="icon">
                            <i class="material-icons">notifications_active</i>
                        </div>
                        <div class="content">
                            <div class="text "><span data-tran="_notification"></span></div>
                            <div class="notificationNumber number badge"> </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 animated flipInX clearls createEstablishment">
                <a href="#views/createEstablishment">
                    <div class="info-box-3  hover-expand-effect ">
                        <div class="icon">
                            <i class="material-icons">add</i>
                        </div>
                        <div class="content">
                            <div class="text"><span data-tran="_createNewEstablishment"></span></div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 animated flipInX clearls groupInspection">
                <a href="#views/groupInspection">
                    <div class="info-box-3  hover-expand-effect">
                        <div class="icon">
                            <i class="material-icons">group</i>
                        </div>
                        <div class="content">
                            <div class="text"><span data-tran="_groupInspection"></span></div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 animated flipInX clearls incidentmail">
                <a href="#views/incidentmail">
                    <div class="info-box-3  hover-expand-effect">
                        <div class="icon">
                            <i class="material-icons">report</i>
                        </div>
                        <div class="content">
                            <div class="text"><span data-tran="_incidents"></span></div>
                            <div id="" class="incidentNumberClass number  badge"> </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 animated flipInX clearls createIncident">
                <a href="#views/createIncident">
                    <div class="info-box-3  hover-expand-effect">
                        <div class="icon">
                            <i class="material-icons">add</i>
                        </div>
                        <div class="content">
                            <div class="text"><span data-tran="_createIncident"></span></div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 animated flipInX clearls reportJSR">
                <a href="#views/JudicialSeizure/reportJSR">
                    <div class="info-box-3  hover-expand-effect">
                        <div class="icon">
                            <i class="material-icons">domain</i>
                        </div>
                        <div class="content">
                            <div class="text"><span data-tran="_createJSR"></span></div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <hr />

        <div class="row clearfix">

            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 animated flipInX clearls  editform">
                <a href="#views/admin/editform">
                    <div class="info-box-3  hover-expand-effect ">
                        <div class="icon">
                            <i class="material-icons">edit</i>
                        </div>
                        <div class="content">
                            <div class="text"><span data-tran="_updateForms"></span></div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 animated flipInX  clearls  employeelist">
                <a href="#views/admin/employeelist">
                    <div class="info-box-3  hover-expand-effect  ">
                        <div class="icon">
                            <i class="material-icons">people</i>
                        </div>
                        <div class="content">
                            <div class="text"><span data-tran="_userManagment"></span></div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 animated flipInX clearls  showInspectionForm">
                <a href="#views/admin/showInspectionForm">
                    <div class="info-box-3  hover-expand-effect  ">
                        <div class="icon">
                            <i class="material-icons">list</i>
                        </div>
                        <div class="content">
                            <div class="text"><span data-tran="_inspection_auditForm"></span></div>
                        </div>
                    </div>
                </a>
            </div>

            <br /><br /><br /><br /><br /><br /><br /><br /><br />
        </div>
    </div>
</div>
