<form id="fromCreateAudit">
    <div class="card">
        <div class="header">
            <h1 style="text-align:center">
                <span data-tran="_accessDenied"> Access Denied !</span>
               
            </h1>
            <ul class="header-dropdown m-r--5"></ul>
        </div>
        <div class="body">
            <br /><br /><br /><br /><br /><br />
            <div style="color:#dc5151;text-align:center"><i class="material-icons" style="font-size: 63px;">warning</i></div>
            <h4 style="color:#dc5151;text-align:center"><span data-tran="_notAuthorizedPage">  </span></h4>
            <h4 style="color:#dc5151;text-align:center"><span data-tran="">You are not authorized to access this page   </span></h4>
            <br /><br /><br /><br />
            
            <h6 style="color:#808080;text-align:center">Please contact IT Department for support</h6>
            
            <br /><br /><br /><br /><br /><br /><br /><br /><br />

        </div>
    </div>
</form>