body {
    direction: rtl !important;
}
.pull-right {
    float: left !important;
}
.dashboard-stat-list { 
    padding-right: 0 !important;
    
}
.notificationClass {
    position: absolute;
    top: 1px;
 
    left: 11px !important;
    right: unset !important;
}
.sidebar .user-info .info-container .user-helper-dropdown {
    
    /*padding-right: 90%!important;*/
}
    .ls-closed .bars:after, .ls-closed .bars:before {
    /*right: 11vw !important;
    left: auto;*/
    left: 14vw; 
    top:2px !important;
}
[type="radio"]:checked + label {
    margin-right: 30px !important;
    margin-left: 0px !important;
}
[type="radio"]:not(:checked) + label {
    margin-right: 25px !important;
    margin-left: 5px !important;
}
[type="radio"] + label:before, [type="radio"] + label:after {
    right: -25px !important;
    left:auto !important;
}
[type="radio"]:not(:checked), [type="radio"]:checked {
    left: unset !important;
}
.pagination > li > a, .pagination > li > span {
    /*float: right !important;*/
}

form p {
    text-align: right !important;
}

#setTemplate p {
    margin: 0 0 0px !important;
}

.tickIcon {
    position: absolute;
    top: 16px;
    color: green;
    left: 10px !important;
    right: auto !important;
}
.navbar {
    right: 0px !important;
    left:auto;
}
@media (min-width: 768px) {
    .navbar-nav > li {
        float: left !important;
        right: 22px !important;
        /*position: absolute !important;*/
    }
    
}

.nav-tabs > li {
    float: right !important;
}

.nav {
    padding-right: 0 !important;
}

.nav-tabs > li {
    left: unset !important;
    right: -2px !important;
}

[type="checkbox"] + label:before, [type="checkbox"]:not(.filled-in) + label:after {
    right: 0 !important;
    left: auto !important;
}

[type="checkbox"] + label {
    padding-right: 26px !important;
    padding-left: unset !important;
}

[type="checkbox"]:checked + label:before {
    top: -4px;
    right: 9px !important;
    width: 11px;
    height: 19px;
}

.switch label input[type=checkbox]:checked + .lever:after {
    right: 24px !important;
    left: auto;
}

.switch label .lever:after {
    left: 22px !important;
}

/*.overlay-open .sidebar {
    margin-right: 0 !important;
    z-index: 99999999;
}*/

.sidebar {
    right: 0 !important;
    left: unset;
    /*direction: ltr !important;*/
}

.overlay-open .sidebar {
    margin-right: 0 !important;
    z-index: 99999999;
}
.ls-closed .sidebar {
    margin-right: -300px ;
}
.ls-closed section.content {
    margin-right: 3px !important;
}

.navbar-header .bars {
    float: right !important;
}

section.content {
    margin: 5px 270px 0 6px !important;
    overflow: hidden;
}

.card .header .header-dropdown {
    position: absolute;
    top: 12px;
    left: 26px !important;
    right: auto !important;
    list-style: none;
}

.container-fluid {
    padding-right: 1px !important;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

.iconHappyineess {
    padding-right: 20vw !important;
}

.list-group-item > .badge {
    float: left;
}

.list-group {
    padding-right: 0 !important;
}

.sidebar .menu .list a span {
    margin: 7px 12px 7px 0px !important;
}

.sidebar .menu .list {
    /*padding-right: 0 !important;
    padding-left: unset;*/
    padding-right: 0 !important;
    padding-left: unset !important;
    direction: rtl;
}

    .sidebar .menu .list .menu-toggle:after, .sidebar .menu .list .menu-toggle:before {
        left: 17px !important;
        right: unset !important;
    }

.user-info {
    background-image: url(../images/logo-ar.png) !important;
}

/*.sidebar .user-info .info-container .user-helper-dropdown {
    padding-right: 90%;
    padding-left: unset !important;
}*/

.btn-circle-custom i {
    right: -1px !important;
    left: unset !important;
}

.btn-circle i {
    /*right: -1px !important;*/
    left: unset !important;
}

.dd-rtl {
    min-height: 406px !important;
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: right !important;
}

th {
    text-align: right !important;
}

[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    right: -9999px !important;
}

/*.sidebar .menu .list .menu-toggle:after, .sidebar .menu .list .menu-toggle:before {
    left: 17px !important;
    right: unset !important;
}

.sidebar .menu .list a span {
    margin: 7px 12px 7px 0px !important;
}*/

.input-group .input-group-addon {
    padding-right: 0px !important;
    padding-left: 8px !important;
}

.dropdown-menu.pull-right {
     left: 0 !important; 
    right: auto !important;
}

.list-group-item {
    padding: 10px 10px !important;
}

.info-box-3 .icon {
    left: 10px !important;
    right: auto !important;
}
